/* Стили для модального окна */
/* Количество комментариев будет постепенно уменьшаться, потому что
несколько раз повторяющаяся логика (например, "width: 100%") не будет
объясняться в каждом месте заново. */
.modal {
  position: fixed; /* Окно остается на месте при прокрутке */
  top: 5%; /* Верх окна отступает от верха родителя на 5% от высоты окна просмотра */
  left: 0; /* Левый край окна совпадает с левым краем родителя */
  width: 100%; /* Ширина на 100% от ширины окна просмотра */
  height: 100%; /* Высота на 100% от высоты окна просмотра */
  background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex; /* Использование flexbox для выравнивания содержимого */
  align-items: center; /* Центрирование содержимого по вертикали */
  justify-content: center; /* Центрирование содержимого по горизонтали */
}

/* Стили для содержимого модального окна */
.modal-content {
  background: rgb(187, 165, 207);
  color:rgb(46, 42, 49); /* Цвет текста в окне */
  border-radius: 8px; /* Скругление углов на 8 пикселей */
  width: 60%;
  height: auto; /* Автоматическая высота для содержимого */
  max-height: 80%; /* Максимальная высота содержимого */
  overflow-y: auto; /* Вертикальная прокрутка */
  text-align: left; /* Выравнивание текста по левому краю */
}

/* Стили для абзацев в модальном окне */
.modal-content p {
  margin-left: 20px;
}

/* Стили для изображения в модальном окне */
.modal-content img { /* Стили для изображения в модальном окне */
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  /* Выравнивание изображения по центру */
  display: block;
  margin: 0 auto;
  border-radius: 8px;;
  object-fit: contain; /* Масштабирование изображения для сохранения пропорций */
}

/* Отдельные стили для заголовка */
.modal-content h2 {
  color: white;
  font-size: 1.5em; /* Размер шрифта */
  margin-bottom: 8px; /* Отступ снизу */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для кнопки "закрыть окно" */
.modal-content button {
  background: #8a62af;
  border: none; /* Кнопка без границ */
  color: white; /* Цвет текста */
  padding: 3px 8px; /* Внутренние отступы */
  margin-left: 5px; /* Отступ слева */
  border-radius: 4px;
  cursor: pointer; /* Изменение курсора при наведении */
}