/* Стили для панели навигации */
.navbar {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: start; /* Горизонтальное выравнивание по левому краю */
    background-color: #58218b;
    color: white;
    position: fixed; /* Зафиксированное положение сверху */
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень под панелью */
    z-index: 2; /* Расположение поверх других элементов */
}

/* Стили для элементов панели навигации */
.navbar-item {
    margin-right: 20px; /* Отступы между элементами */
    transition: color 0.3s; /* Плавный переход цвета */
}

/* Изменение элемента панели при наведении */
.navbar-item:hover {
    color: #dd93ff; /* Смена цвета текста */
    cursor: pointer; /* Смена курсора на указатель */
}
